:root {
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-orange-color: #ff6c00;
  --primary-black-color: #303030;
  --primary-gray-color: #9da4bd;
  --toptext-gray-color: rgba(157, 164, 189, 0.6);
  --primary-background-color: rgba(25, 28, 38, 0.2);
  --secondary-background-color: #f7f7f7;
  --hover-background-color: #404bbf;
  --tertiery-background-color: #2e2f42;
}

body {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Roboto", sans-serif;
}

/* remove bullet points in lists classes */
.list {
  list-style: none;
}

.button {
  font-family: inherit;
  display: flex;
  color: var(--hover-background-color);
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 5px;
  border-color: transparent;
}

.link {
  text-decoration: none;
}

.header-text,
.div-footer {
  font-family: Raleway;
}

button:hover {
  background: var(--hover-background-color);
  color: var(--primary-white-color);
}

.header {
  background-color: var(--secondary-background-color);
}

.div-section-main {
  flex-shrink: 0;
  background-color: var(--tertiery-background-color);
}

.section-main-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--primary-white-color);
  text-align: center;
  /* Header 1 */
  font-family: inherit;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.section-main-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-content {
  background: var(--secondary-background-color);
}

.section-activity-header {
  color: var(--tertiery-background-color);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-header {
  color: var(--tertiery-background-color);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-team-list {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-team-item {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section-team-item {
  color: var(--slate, #434455);
  text-align: center;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer {
  flex-shrink: 0;
  background: var(--tertiery-background-color);
}

.div-footer-link-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: auto;
}

.div-footer-link-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-paragh {
  color: var(--secondary-background-color);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.div-section-list {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.div-section-img {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.img-header-item {
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.img-paragh-item {
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
