:root {
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-orange-color: #ff6c00;
  --primary-black-color: #303030;
  --primary-gray-color: #9da4bd;
  --toptext-gray-color: rgba(157, 164, 189, 0.6);
  --primary-background-color: rgba(25, 28, 38, 0.2);
  --secondary-background-color: #f7f7f7;
  --hover-background-color: #404bbf;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* remove bullet points in lists classes */
.list {
  list-style: none;
}

.button {
  font-family: inherit;
  display: flex;
  color: var(--hover-background-color);
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 5px;
  border-color: transparent;
}

button:hover {
  background: var(--hover-background-color);
  color: var(--primary-white-color);
}
